{% load static %}

	<script src="{% static "vendor/Cardio/js/jquery-1.11.1.min.js" %}"></script>
	<script src="{% static "vendor/Cardio/js/owl.carousel.min.js" %}"></script>
	<script src="{% static "vendor/Cardio/js/bootstrap.min.js" %}"></script>
	<script src="{% static "vendor/Cardio/js/wow.min.js" %}"></script>
	<script src="{% static "vendor/Cardio/js/typewriter.js" %}"></script>
	<script src="{% static "vendor/Cardio/js/jquery.onepagenav.js" %}"></script>
	<script src="{% static "vendor/Cardio/js/main.js" %}"></script>