{% load static %}

	<!-- Favicons (created with http://realfavicongenerator.net/)-->
	<link rel="apple-touch-icon" sizes="57x57" href="{% static "vendor/Cardio/img/favicons/apple-touch-icon-57x57.png" %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static "vendor/Cardio/img/favicons/apple-touch-icon-60x60.png" %}">
	<link rel="icon" type="image/png" href="{% static "img/LABKOM.png" %}" sizes="32x32">
	<link rel="icon" type="image/png" href="{% static "img/LABKOM.png" %}" sizes="16x16">
	<link rel="manifest" href="{% static "vendor/Cardio/img/favicons/manifest.json" %}">
	<link rel="shortcut icon" href="{% static "vendor/Cardio/img/favicons/favicon.ico" %}">
	<meta name="msapplication-TileColor" content="#00a8ff">
	<meta name="msapplication-config" content="{% static "vendor/Cardio/img/favicons/browserconfig.xml" %}">
	<meta name="theme-color" content="#ffffff">
	<!-- Normalize -->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/Cardio/css/normalize.css" %}">
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/Cardio/css/bootstrap.css" %}">
	<!-- Owl -->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/Cardio/css/owl.css" %}">
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/Cardio/css/animate.css" %}">
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/Cardio/fonts/font-awesome-4.1.0/css/font-awesome.min.css" %}">
	<!-- Elegant Icons -->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/Cardio/fonts/eleganticons/et-icons.css" %}">
	<!-- Main style -->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/Cardio/css/cardio.css" %}">
