{% extends "base.html" %}
{% load static %}

{% block ContentHeader %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Peminjaman Lab</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url "index" %}">Home</a></li>
                    <li class="breadcrumb-item active">Peminjaman Lab</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}

{% block MainContent %}
    {% block Row1 %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h5 class="m-0">Peminjaman Lab di Dalam Jam Kuliah</h5>
            </div>
            <div class="card-body">
                <a href="{% url "PeminjamanLab:didalam" %}" class="btn btn-primary">Lihat selengkapnya</a>
            </div>
        </div>

        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="m-0">Peminjaman Lab di Dalam Jam Kuliah</h5>
            </div>
            <div class="card-body">
                <a href="{% url "PeminjamanLab:diluar" %}" class="btn btn-primary">Lihat selengkapnya</a>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}